<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd   
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.idiazt.springaopxmlexample.service" />

	<bean id="retrieveObjectsAspect"
		class="com.idiazt.springaopxmlexample.aspects.RetrieveObjectsAspect" />

	<bean id="anotherExampleAspect"
		class="com.idiazt.springaopxmlexample.aspects.AnotherExampleAspect" />

	<aop:config>
	    
	    <aop:pointcut id="findByIdMethods"
				expression="execution(* com.idiazt.springaopxmlexample.service.*.findById(..))" />
	    
		<aop:aspect ref="retrieveObjectsAspect" order="2">
			<aop:before pointcut-ref="findByIdMethods" method="executeBefore" />
			<aop:around pointcut-ref="findByIdMethods" method="executeAround" />
			<aop:after-returning pointcut-ref="findByIdMethods"
				method="executeAfter" returning="result" />
		</aop:aspect>
		
		<aop:aspect ref="anotherExampleAspect" order="1">
			<aop:after-returning pointcut-ref="findByIdMethods"
				method="showLogAnotherAspect" />
		</aop:aspect>
	</aop:config>
</beans>